################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Team_Anatomy/v15/Server/sqlite3
/.vs/Team_Anatomy/v15
