################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Team_Anatomy/v15/Server/sqlite3
/.vs/Team_Anatomy/v15
/TA Backup 02-MAR-2018 02.39 AM.sql
/TA Backup 01-MAR-2018 02.30 AM.sql
