<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />

	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear />
				<add value="roster.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
	<connectionStrings>
		<add name="constr" connectionString="RGF0YSBTb3VyY2U9MTAuMjIyLjIuNjE7UGVyc2lzdCBTZWN1cml0eSBJbmZvPVRydWU7VXNlciBJRD1jd2ZtX3VtYW5nO1Bhc3N3b3JkPXVtYW5nQDEyMzQ1OyBEYXRhYmFzZT1jd2ZtX3VtYW5n " />
		<add name="constr2" connectionString="Data Source=10.222.2.61;Initial Catalog=CWFM_Umang;Persist Security Info=True;User ID=cwfm_umang;Password=umang@12345"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
