<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <identity impersonate="true"/>
    <!-- maxRequestLength for asp.net, in KB -->
    <httpRuntime maxRequestLength="10240"/>
  </system.web>
  <connectionStrings>
    <!--Old Connection String-->
    <!--<add name="constr" connectionString="RGF0YSBTb3VyY2U9MTAuMjIyLjIuNjE7UGVyc2lzdCBTZWN1cml0eSBJbmZvPVRydWU7VXNlciBJRD1jd2ZtX3VtYW5nO1Bhc3N3b3JkPXVtYW5nQDEyMzQ1OyBEYXRhYmFzZT1jd2ZtX3VtYW5n "/>-->
    <!--Development Connection String-->
    <add name="constr" connectionString="RGF0YSBTb3VyY2U9MTAuMjUyLjI1Mi4xMjI7UGVyc2lzdCBTZWN1cml0eSBJbmZvPVRydWU7VXNlciBJRD1TUUxEZXY7UGFzc3dvcmQ9RGV2U1FMOyBEYXRhYmFzZT1jd2ZtX3VtYW5n"/>
    <!--Production Connection String-->
    <add name="constrProd" connectionString="RGF0YSBTb3VyY2U9MTAuMjUyLjI1Mi4xMjE7UGVyc2lzdCBTZWN1cml0eSBJbmZvPVRydWU7VXNlciBJRD1TT0w7UGFzc3dvcmQ9UzBsOyBEYXRhYmFzZT1jd2ZtX3VtYW5n"/>
  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- maxAllowedContentLength, for IIS, in bytes -->
        <requestLimits maxAllowedContentLength="10485760"/>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <remove value="Default.aspx"/>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true"/>
    <handlers>
      <remove name="ASPClassic"/>
      <add name="Browser Link for HTML" path="*.html" verb="*" type="System.Web.StaticFileHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" resourceType="File" preCondition="integratedMode"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>